/* CSS Document */

img
	{border:none; 
		}
		
img.left {float: left; 
		margin-right: 20px; 
		margin-top: 10px;
		margin-bottom: 10px;
		border:none;
		}
		
img.right {float: right;
		margin-left: 20px;
		margin-bottom: 10px;
		margin-top: 10px;
		border:none;
		}


body {/*background-color: #B7ACA2;*/
		/*background-image: url(images/blkgrey.jpg);*/
		/*background-color:#6C625A;*/
		/*background-color:#766861;*/
		background-color:#5C534D;
		font-family:"Times New Roman", serif;
		font-size:14px;
		text-align:left;
		margin-left:40px;
		margin-right:20px;
		}
		
h1 {
	font-family: "Times New Roman", Times, serif;
	font-size:x-large;
	font-weight:800;
	font-style:italic;
	}
		
h2 {
	font-family:"Times New Roman", serif;
	font-style:italic;
	font-weight:700;
	font-size: larger;
		}
		
h3 {font-family:"Times New Roman", serif;
		font-style:italic;
		font-weight:700;
		}

#headermenu {width:764px;
		background-color:#E9E0D7;
		margin-top:10px;
		margin-left:auto;
		margin-right:auto;
		}		
#vessel {background-color:#E9E0D7;
		width:764px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:20px;
		}
		
#textmenu {font-size:90%;
		font-style:normal;
		text-align:center;
		}
		
#footer {font-size:70%;
		width:99%;
		text-align:center;
		}
				
p.box {
	float:right;
		border:3px solid #881100;
	width:250px;
	background-color:#e9eaec;
	
	padding:12px;
	margin-left:20px;
	font-size:12px;
	text-align:left;
	
		}
#vessel .box {
	border-top-style: double;
	border-right-style: double;
	border-bottom-style: double;
	border-left-style: double;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	font-size:13px;
}

		
p.leftbox { float:left;
		border:3px inset #B7ACA2;
		width:200px;
		/*background-color:#ECD5CA;*/
		background-image:url(images/swirl1.jpg);
		padding:12px;
		margin-right:20px;
		margin-left:4px;
		font-family:Georgia, "Times New Roman", Times, serif;
		font-size:smaller;
		font-style:italic;
		text-align:left;
		}
		
p.right { float:right;
		border:3px inset #B7ACA2;
		width:250px;
		/*background-color:#ecd5ca;*/
		background-image: url(images/swirl1.jpg);
		padding:12px;
		margin-right:4px;
		margin-left:20px;
		font-family:Georgia, "Times New Roman", Times, serif;
		font-size:smaller;
		font-style:italic;
		text-align:left;
		}	
		
/*p.news { align:left;
	border-color:#000000;
	width:300px;
	background-image:url(images/swirl7.jpg);
	padding:12px;
	margin-right:20px;
	margin-left:4px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:small;
	font-style:normal;
	}
*/

		
			
