/* CSS Document */

img
	{border:none; 
		}
		
img.left {
	float: left;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	border:none;
	margin-left: 1em;
		}
		
img.right {
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	border:none;
	margin-right: 1em;
		}

p.norm {
	margin-left: 2.5em;
	margin-right: 2em;
}
body {/*background-color: #B7ACA2;*/
	/*background-image: url(images/blkgrey.jpg);*/
		/*background-color:#6C625A;*/
		/*background-color:#766861;*/
		background-color:#5C534D;
	font-family:"Times New Roman", serif;
	font-size:14px;
	text-align:left;
		}
		
h1 {
	font-family: "Times New Roman", Times, serif;
	font-size:x-large;
	font-weight:800;
	font-style:italic;
	}
		
h2 {
	font-family:"Times New Roman", serif;
	font-style:italic;
	font-weight:700;
	font-size: larger;
	margin-left: 2em;
		}
		
h3 {font-family:"Times New Roman", serif;
		font-style:italic;
		font-size:medium;
		font-weight:700;
		}

#page {
	width:764px;
	margin-right: auto;
	margin-left: auto;
	background-color: #E9E0D7;
		}
		
/*#headermenu {width:764px;
		background-color:#E9E0D7;
		margin-top:10px;
		margin-left:auto;
		margin-right:auto;
		}	*/	
/*#vessel {
	background-color:#E9E0D7;
	width:764px;
	margin-bottom:20px;
		}*/
		
#textmenu {
	font-size:90%;
	font-style:normal;
	text-align:center;
	width: 90%;
	clear: both;
		}
		
#footer {
	font-size:70%;
	text-align:center;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
		}
				
p.box {
	float:right;
	border:3px solid #881100;
	background-color:#e9eaec;
	padding:2em;
	margin-right:4em;
	margin-left:2em;
	font-size:12px;
	text-align:left;
		}
#vessel .box {
	border-top-style: double;
	border-right-style: double;
	border-bottom-style: double;
	border-left-style: double;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	font-size:13px;
}

		
p.leftbox {
	float:left;
	border:3px inset #B7ACA2;
	width:200px;
	background-image:url(images/swirl1.jpg);
	padding:12px;
	margin-right:20px;
	margin-left:1em;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:smaller;
	font-style:italic;
	text-align:left;
		}
		
p.right {
	float:right;
	border:3px inset #B7ACA2;
	width:250px;
	background-image: url(images/swirl1.jpg);
	padding:12px;
	margin-right:1em;
	margin-left:20px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:smaller;
	font-style:italic;
	text-align:left;
		}	
		
p.article {
	width:550px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	
	}
		

			
